workflows/casoB/_old/casoB-denuncia-digital-v1.json
{
  "name": "CASO B - Denuncia Digital (Experimental v1, 1s latency mocks)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "casoB-denuncia-digital",
        "responseMode": "responseNode"
      },
      "name": "Webhook - Registro Denuncia",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1400,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "case_id",
              "value": "={{ $uuid }}"
            },
            {
              "name": "start_time",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "citizen_id",
              "value": "={{ $json.body?.citizen_id || 'CC123456' }}"
            }
          ]
        }
      },
      "name": "Init + t0 (normalización)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1150,
        300
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait - Autenticación GOV.CO",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -900,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "identity_valid",
              "value": "={{ Math.random() > 0.2 }}"
            }
          ],
          "string": [
            {
              "name": "auth_provider",
              "value": "ID-GOB (MOCK)"
            }
          ]
        }
      },
      "name": "Mock - GOV.CO / Registraduría",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -650,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.identity_valid }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "name": "IF - Identidad válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        300
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait - Clasificación Policía",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -150,
        120
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "crime_classified",
              "value": "={{ Math.random() > 0.1 }}"
            }
          ],
          "string": [
            {
              "name": "crime_type",
              "value": "HURTO (SIMULADO)"
            }
          ]
        }
      },
      "name": "Mock - Policía Nacional (SPOA/SIDENCO)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        100,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.crime_classified }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "name": "IF - Delito clasificable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        350,
        120
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait - Registro Fiscalía",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "criminal_report_number",
              "value": "={{ 'SPOA-' + Math.floor(Math.random()*1000000) }}"
            }
          ]
        }
      },
      "name": "Mock - Fiscalía General (SPOA)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        850,
        0
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait - Geocodificación",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "geo_reference",
              "value": "LOCALIDAD_07 (MOCK)"
            }
          ]
        }
      },
      "name": "Mock - Servicios Geoespaciales",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1350,
        0
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait - Notificación",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "notification_status",
              "value": "SENT"
            }
          ]
        }
      },
      "name": "Mock - Correo Institucional",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1850,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "end_time",
              "value": "={{ $now.toISO() }}"
            }
          ],
          "number": [
            {
              "name": "latency_ms",
              "value": "={{ $now.toMillis() - new Date($json.start_time).getTime() }}"
            }
          ]
        }
      },
      "name": "t1 + latencia (éxito)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2100,
        0
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ok"
            },
            {
              "name": "case_id",
              "value": "={{ $json.case_id }}"
            },
            {
              "name": "criminal_report_number",
              "value": "={{ $json.criminal_report_number }}"
            },
            {
              "name": "geo_reference",
              "value": "={{ $json.geo_reference }}"
            },
            {
              "name": "notification_status",
              "value": "={{ $json.notification_status }}"
            }
          ],
          "number": [
            {
              "name": "latency_ms",
              "value": "={{ $json.latency_ms }}"
            }
          ]
        }
      },
      "name": "Build Response (éxito)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2350,
        0
      ]
    },
    {
      "parameters": {},
      "name": "Respond to Webhook (éxito)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2600,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "rejected"
            },
            {
              "name": "reason",
              "value": "IDENTITY_NOT_VALID"
            }
          ]
        }
      },
      "name": "Response - Identidad inválida",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -150,
        500
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "rejected"
            },
            {
              "name": "reason",
              "value": "CRIME_NOT_CLASSIFIABLE"
            }
          ]
        }
      },
      "name": "Response - Clasificación fallida",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - Registro Denuncia": {
      "main": [
        [
          {
            "node": "Init + t0 (normalización)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init + t0 (normalización)": {
      "main": [
        [
          {
            "node": "Wait - Autenticación GOV.CO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Autenticación GOV.CO": {
      "main": [
        [
          {
            "node": "Mock - GOV.CO / Registraduría",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock - GOV.CO / Registraduría": {
      "main": [
        [
          {
            "node": "IF - Identidad válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Identidad válida?": {
      "main": [
        [
          {
            "node": "Wait - Clasificación Policía",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Identidad inválida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Clasificación Policía": {
      "main": [
        [
          {
            "node": "Mock - Policía Nacional (SPOA/SIDENCO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock - Policía Nacional (SPOA/SIDENCO)": {
      "main": [
        [
          {
            "node": "IF - Delito clasificable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Delito clasificable?": {
      "main": [
        [
          {
            "node": "Wait - Registro Fiscalía",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Clasificación fallida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Registro Fiscalía": {
      "main": [
        [
          {
            "node": "Mock - Fiscalía General (SPOA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock - Fiscalía General (SPOA)": {
      "main": [
        [
          {
            "node": "Wait - Geocodificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Geocodificación": {
      "main": [
        [
          {
            "node": "Mock - Servicios Geoespaciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock - Servicios Geoespaciales": {
      "main": [
        [
          {
            "node": "Wait - Notificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Notificación": {
      "main": [
        [
          {
            "node": "Mock - Correo Institucional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock - Correo Institucional": {
      "main": [
        [
          {
            "node": "t1 + latencia (éxito)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "t1 + latencia (éxito)": {
      "main": [
        [
          {
            "node": "Build Response (éxito)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response (éxito)": {
      "main": [
        [
          {
            "node": "Respond to Webhook (éxito)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}