workflows/casoA/BASELINE - Webhook Latency E2E.json
{
  "name": "BASELINE - Webhook Latency E2E",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "baseline-latency",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3b261def-cc0d-4335-8f25-c9fd8097e45b",
      "name": "Webhook",
      "webhookId": "de440912-01c0-4fa2-b357-c00e961568e3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f8b525a-cb9f-4af4-8d5d-5507ff0ab86f",
              "name": "start_time",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "2a2568db-96da-4fe3-8c43-b577fb1b0e8d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"start_time\": \"{{ $json.start_time }}\",\n  \"end_time\": \"{{ $now }}\"\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "03da6493-807e-4658-9024-34ebb87cfb14",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8dade110-f202-45da-afe6-af1a6a9c9ebb",
  "meta": {
    "instanceId": "4ab74ba8dc44e84679270e2291a6cad4bb7aa9e2232c851e17911f86a373f59b"
  },
  "id": "IJAoniBRXLzSVjIzGe44b",
  "tags": []
}